{% extends '_base.html' %}
{% load static %}
{% load viewer_tags %}

{% block content %}

	{% if piece %}
		<div class="piece">
			<h1 class="title meta">{{piece.name}}</h1>
			{% if piece.artists.count > 0 %}
			<h2 class="artist meta">{% for artist in piece.artists.all %} <a href="{% url 'artist' artist_slug=artist.slug %}">{{artist.name}}</a> {% endfor %}</h2>
			{% endif %}
			<h3 class="pack meta"><a href="{% url 'pack' group_slug=group.slug pack_slug=pack.slug %}">{{pack.name}}</a></h2>
			<h3 class="group meta"><a href="{% url 'group' group_slug=group.slug %}">{{group.name}}</a></h2>

			<img src="{% static piece.preview %}" />

			<p class="download meta"><a href="{% static piece.file_path|one_static %}">{{piece.file_name}}</a></p>
		</div>
	{% else %}
		<p>This piece is not available.</p>
	{% endif %}

{% endblock content %}
